# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\dpk14\SchoolProjects\ECE350\FlappyBird\ECE350FinalProject\Controller\IOController\OutputControllers\ImageConverter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
